<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arek.baking">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BakingApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".recipeList.RecipeListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".recipeDetails.RecipeDetailActivity"
            android:label="@string/title_activity_recipe_detail"
            android:launchMode="singleTop"
            android:parentActivityName=".recipeList.RecipeListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.arek.baking.recipeList.RecipeListActivity" />
        </activity>
        <activity
            android:name=".recipeDetails.recipeStep.RecipeStepActivity"
            android:label="@string/title_activity_recipe_step"
            android:parentActivityName=".recipeDetails.RecipeDetailActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.arek.baking.recipeDetails.RecipeDetailActivity" />
        </activity>

        <receiver android:name=".widget.BakingWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/baking_widget_info" />
        </receiver>

        <service
            android:name=".service.BakingService"
            android:exported="false"></service>

        <service
            android:name=".widget.ListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
           />
    </application>

</manifest>